<h1>About this site</h1>
<div class="about-content">
This site is to post and exchange workout routines. The hope from this community is to improve our fitness results. Please use this site to get ideas about what to do and how to improve! <br><br>

You will notice there is a lot of effort placed on how to share a workout and present your ideas in the <%= link_to "Plateau syntax", styleguide_path %>. The reason for this is to create an immediately accessible way to understand what someone else is doing in the gym and cuts out the headache of trying to get to the point of a workout. This site was built for gym enthusiasts looking for great new ideas for an entire day in the gym, not just a specific exercise (although you can learn exercises too!)
</div>
