<h1>Plateau</h1>
<p>Please use this site to post workouts and help others improve their workout routines</p>

<% if !logged_in?%>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
<%end%>