<% provide(:title, 'All users') %>
<h1>All Plateau Fighters</h1>

<div class="user-index-content">
	This is a list of all other users on this site. Take a look at other repositories to get ideas for your practice! Everyone brings something unique and interesting to this site and offers a chance to improve what you are doing to improve your physical fitness. 
</div>

<%= will_paginate %>

<ul class="users">
	<%= render @users %>
</ul>

<%= will_paginate %>
