<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<%= gravatar_for @user %>
		</section>
		<div class="profile_information">
			<div class="user_name">
				<%= @user.name %>
			</div><hr>
			<%= @user.location %><br>
			<%= @user.current_practice%>
		</div>
	</aside>
</div>