@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Full Site */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* Fonts */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* Menu */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/*about page styling*/
.about-content{
  width: 50%;
  margin-left: 25%;
}


/*home page styling*/
.home-content{
  width:50%;
  margin-left: 25%;
}

/*style guide*/
.styleguide-workout-link{
  text-align:center;
  font-weight:bold;
}

.styleguide-section-title{
  font-weight:bold;
  font-size:20px;
}

.style-guide-container{
  width: 60%;
  margin-left: 20%;
  padding: 3%;
  border-left: 1px dotted grey;
  border-right: 1px dotted grey;
}

.styleguide-workout-example{
  margin-left:10%;
  font-weight: bold;
}
/* Sidebar and Gravatar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      //display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  width: 230px;
  height: 230px;
  border-radius: 3px;
}

.gravatar_edit {
  margin-top: 15px;
}

.profile_information{
  width:230px;
}

.user_name{
  font-size: 26px;
  font-style: bold;
}

.aboutme_title{
  font-weight: bold;
}

/*User Index Page*/

.user-index-profile-picture{
  margin-left: 25%;
  width:10%;
  float: left;
  border-radius: 5px;
  border: 1px solid #F8F8F8;
}

.user-index-information{
  list-style: none;
  float: right;
  margin-right: 25%;
  margin-top: 1%;
}


/* workout button*/
.workout-button{
  border: 2px solid #30A7FC;
  border-radius: 5px;
  margin-left: 32%;
}

/* No Workout */
.no-workout-container{
  border: 1px solid black;
  text-align: center;
  padding: 100px;
  margin-top: 15%;
  background-color: #F8F8F8;
}

.no-workout-suggestion{
  font-size: 22px;
}

/* Workout Display */
.individual-workout-username{
  font-size: 24px;
  margin-top: 5%;
  text-decoration: underline;
}

.workout-display-container{

}

.individual-workout{
  border-radius: 30px;
  background-color: #E3F4EC;
  border: 2px solid green;
  margin: 5% 0%;
  padding: 4%;
}

.individual-fitness-goal{
  display: inline-block;
  font-size: 15px;
  margin-left: 3%;
}

.individual-workout-time{
  display: inline-block;
  font-size: 12px;
  margin-left: 5%;
}

.individual-workout-link{
  display: inline-block;
  margin-left: 6%;
}


/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/*Display all Users*/

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
/*Workout show*/

.workout-show-container{
  width: 40%;
  display: block;
  margin-left: 30%;
  margin-top: 1%;
  background-color: #F8F8F8;
  border: 1px solid black;
  padding: 5% 6%;
  border-radius: 5%;
}

.workout-show-header{
  font-weight: bold;
}

.workout-show-field{
  margin: 1%
}

.workout-show-time-field{
  text-align: center;
}

.workout-show-fitness-goal{
  display: inline-block;
  margin: 2%;
}

.workout-show-gym-style{
  display: inline-block;
  margin-left: 20%;
}

.horizontal-fields-container{
  text-align: center;
}

/* Workout Forms*/
.workout-form-title{
  margin-left: 2%;
}

.workout-description{
  height: 300px;
}

.workout-form{
  width: 40%;
  display: block;
  margin-left: 30%;
  margin-top: 1%;
}
  
.workout-form-control{
  border: 1px solid #bbb;
  margin-bottom: 15px;
  height: 20px;
  @include box_sizing;
}

