<div class="no-workout-container">
	<div class="no-workout-suggestion"><%= link_to 'Please create your first workout!', new_user_workout_path(current_user)%><br><br>
	<div class="workout-link"><%= link_to 'Need Inspiration?', users_path%></div>
</div>