
<div class="individual-workout-username">
	<%= "#{@user.name}'s workouts!" %>
</div>
<div class = "workout-display-container">
	<% @workouts.each do |individual_workout| %>
	<div class="individual-workout">
		<div class="individual-fitness-goal">
			<%= "Fitness Goal: #{individual_workout.fitness_goal}"%>
		</div>
		<div class="individual-workout-time">
			<%= "Target Time: #{individual_workout.workout_time}"%>
		</div>
		<div class="individual-workout-link">
			<%=link_to "View Workout", user_workout_path(@user,individual_workout)%>
		</div>
	</div>	
	<% end %>
</div>